header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgba(red, green, blue, alpha);
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: rgba(60,60,60);
  text-decoration: underline;
}

.dollar-amount {
  color: rgba(red, green, blue, alpha);
  font-weight: bold;
  margin-left: -5px;
}
